a:hover{
  color:green
}

body{
  display: flex;
  flex-direction: column;
  align-congtent:space-between;
}

main{
  display:flex;
  flex: auto;
}

aside{
  flex:1;background-image:url('https://bkimg.cdn.bcebos.com/pic/37d12f2eb9389b50ab2944208a35e5dde6116eea?x-bce-process=image/watermark,image_d2F0ZXIvYmFpa2UxNTA=,g_7,xp_5,yp_5/format,f_auto');
       background-position:center;
       background-size: cover;
       color:#00FFFF;border: 2px solid black;
}



header {
    height: 240px;
}

article{
  flex:3;
  background: #D0D0D0 ;
}
